.product {
  display: flex;
  color: $gold;
  min-height: 580px;
  &-left,
  &-right {
    margin: 0 $m-size;
    width: 50%;
  }
  &-left {
    display: flex;
    flex-direction: column;
  }
  &__image {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    img {
      min-height: 400px;
      max-height: 430px;
      object-fit: contain;
    }
  }
  &__title {
    color: $dark-gold;
    font-weight: bold;
    font-size: 40px;
    text-align: justify;
  }
  &__id {
    font-size: 20px;
  }
  &__price {
    color: $dark-gold;
    margin: $l-size 0;
    font-size: 35px;
  }
  &__description {
    margin: $l-size 0;
    font-family: $GaramondPro;
    color: $gold;
    font-size: 20px;
    text-align: justify;
  }
  &__category {
    text-transform: capitalize;
  }
  &__classification {
    display: flex;
    justify-content: space-evenly;
    margin: $l-size 0;
    &__category {
      font-size: 20px;
    }
    &__rate {
      &__reviews {
        font-style: italic;
        margin: auto 0;
      }
      &__stars ul {
        color: #ffc107;
        display: flex;
      }
      &__stars li {
        display: flex;
      }
    }
  }
  &__label {
    margin-right: $s-size;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: $dark-gold;
  }
}

.product__btns {
  width: 100%;
  &__add {
    margin-bottom: $m-size;
  }
}

.product__btn {
  &__add {
    width: 100%;
    background-color: $gold;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: $dark-gold;
    }
  }
  &__buy {
    width: 100%;
    background-color: $off-black;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: $off-black-hover;
    }
  }
}

.go-back-btn {
  text-align: left;
  color: $gold;
  &:hover {
    transition: color 0.2s ease-in-out;
    color: $dark-gold;
  }
}

@media only screen and (max-width: 768px) {
  .product {
    display: block;
    &-left,
    &-right {
      width: 100%;
      margin: 0;
    }
  }
}
