.product {
  display: flex;
  color: $gold;
  min-height: 450px;
  &-left,
  &-right {
    margin: 0 $m-size;
    width: 50%;
  }
  &-left {
    display: flex;
    flex-direction: column;
  }
  &__image {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    img {
      min-height: 400px;
      max-height: 430px;
      object-fit: contain;
    }
  }
  &__title {
    color: $dark-gold;
    font-weight: bold;
    font-size: 40px;
    text-align: justify;
  }
  &__id {
    font-size: 20px;
  }
  &__price {
    color: $dark-gold;
    margin: $l-size 0;
    font-size: 35px;
  }
  &__description {
    margin: $l-size 0;
    font-family: $GaramondPro;
    color: $gold;
    font-size: 20px;
    text-align: justify;
  }
  &__category {
    text-transform: capitalize;
    text-align: center;
  }
  &__classification {
    display: flex;
    justify-content: space-evenly;
    margin: $l-size 0;
    &__category {
      font-size: 20px;
    }
    &__rate {
      display: flex;
      flex-direction: column;
      &__reviews {
        font-style: italic;
        margin: auto 0;
      }
      &__stars {
        flex-grow: 1;
        li {
          display: flex;
        }
        ul {
          height: 100%;
          align-items: center;
          color: #ffc107;
          display: flex;
        }
      }
    }
    &__quantity {
      display: flex;
      flex-direction: column;
      &__value {
        display: flex;
        flex-grow: 1;
      }
      button {
        background: none;
        border: none;
        color: $dark-gold;
        &:disabled {
          cursor: initial;
        }
      }
      input {
        width: 40px;
        text-align: center;
        font-weight: bold;
        &:focus-visible {
          outline: $dark-gold auto 1px;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
  }
  &__label {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: $dark-gold;
  }
}

.product__btns {
  width: 100%;
  &__add {
    margin-bottom: $m-size;
  }
}

.product__btn {
  &__add {
    width: 100%;
    background-color: $gold;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: $dark-gold;
    }
  }
  &__buy {
    width: 100%;
    background-color: $off-black;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: $off-black-hover;
    }
  }
}

.go-back-btn {
  text-align: left;
  color: $gold;
  &:hover {
    transition: color 0.2s ease-in-out;
    color: $dark-gold;
  }
}

.minus-btn-hidden {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .product {
    display: block;
    &-left,
    &-right {
      width: 100%;
      margin: 0;
    }
  }
}
