.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: $light-gold;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px 0;
    &--open {
      width: 350px;
    }
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: #f1f1f1;
      }
    }
    &__header {
      &__btn {
        background: none;
        border: none;
        color: $gold;
        margin-left: $s-size;
        &:hover {
          color: $dark-gold;
        }
      }
      &__title {
        text-align: center;
        color: $dark-gold;
      }
    }
  }

  
  @media only screen and (max-width: 576px) {
    .sidenav {
      &--open {
        width: 100%;
      }
    }
}