.header {
  background: $gold;
  height: 80px;
  display: flex;
  color: $off-white;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color 0.1s ease, height 0.1s ease;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__brand {
    font-family: $Uni-Sans-Bold;
    font-size: 25px;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__nav {
    &__item {
      font-family: $GaramondPro;
      color: $off-white;
      text-decoration: none;
      font-size: 20px;
      margin: 0 auto;
      &:not(:last-child) {
        padding-right: $m-size;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding-right: $xl-size;
    padding-left: $xl-size;
    cursor: pointer;
  }
  &__log {
    display: flex;
    align-items: center;
    &__btn {
      background: none;
      border: none;
      font-family: $GaramondPro;
      font-size: 20px;
      color: $off-white;
      &:hover {
        font-weight: bold;
      }
    }
  }
  &__burger__container {
    display: none;
  }
  &__scroll-effect {
    height: 60px;
    background-color: $off-white;
    & .header__nav__item,
    & .header__brand,
    & .header__cart,
    & .header__log__btn {
      color: $off-black;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      &__items {
        display: flex;
        width: 100%;
        min-height: 160px;
        position: absolute;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;
        flex-direction: column;
        &.active {
          background: $gold;
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 10;
          align-content: center;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        width: 100%;
        padding: $l-size 0px;
        &:not(:last-child) {
          padding-right: 0;
          border-bottom: 2px solid $off-white;
        }
      }
    }
    &__cart {
      padding: 0;
    }
    &__log {
      padding: 0 $xl-size;
    }
    &__burger {
      &__container {
        display: block;
      }
      &-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}
