body {
    font-family: $GaramondPro;
    background-color: $light-gold;
}

#root {
    position: relative;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-family: "Uni-Sans-Bold";
    margin-bottom: $xl-size;
}


.container {
    width: 70%;
    padding: 0 $m-size;
    margin: 0 auto;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }
}
