// Colors
$dark-gold: hsl(45, 22%, 35%);
$gold-bold: hsl(45,29%,50%);
$gold: hsl(45,29%,60%);
$light-gold: hsl(45,29%,95%);
$off-white: hsl(0, 0%,99%);
$off-black: hsl(203, 8%, 21%);
$off-black-hover: hsl(203, 8%, 10%);


// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;


// Fonts
$UniSansThin: 'Uni-Sans-Thin';
$GaramondPro: 'Garamond Pro';
$Uni-Sans-Bold: 'Uni-Sans-Bold';
