// Colors
$gold-bold: hsl(45,29%,50%);
$gold: hsl(45,29%,60%);
$off-white: hsl(0, 0%,99%);


// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;


// Fonts
$UniSansThin: 'Uni-Sans-Thin';
$GaramondPro: 'Garamond Pro';
$Uni-Sans-Bold: 'Uni-Sans-Bold';
