// Colors
$gold: hsl(45,29%,40%);
$off-white: hsl(0, 0%,99%);


// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;


// Fonts
$UniSansThin: 'Uni-Sans-Thin';
$BebasNeue-Regular: 'BebasNeue-Regular';
$GaramondPro: 'Garamond Pro';
